@use"../core/variables" as vars;

.sectioncomprar {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:20px ;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.subtituloseccioncomprar{
    color: vars.$verde-oscuro;
    font-size: 14px;
    font-family:"Roboto", serif;
}
.tituloseccioncomprar{
    color: vars.$negro-puro;
    font-size: 22px;
    font-family:"Roboto Slab", serif;
    font-weight: bold;
}
.parrafoseccioncomprar{
    color: vars.$gris;
    font-size: 18px;
    font-family:"Roboto", serif;
    font-weight: normal;
    display: flex;
    text-align: left;
    padding-bottom: 42px;
}
.botoncomprar{
    border: solid 2px #6C933E;
    border-radius: 22.5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.botoncomprar a{
    color: vars.$verde-oscuro;
    font-size: 20px;
    font-family:"Roboto", serif;
}
.containerseccioncomprar{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
/*Media query tablet*/
@media (min-width:768px){
    .subtituloseccioncomprar{
        font-size: 16px;
    }
    .tituloseccioncomprar{
        font-size: 32px;
    }
    .parrafoseccioncomprar{
        font-size: 20px;
    }
    .sectioncomprar {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left:40px ;
        padding-right: 40px;
        
    }
}
/*Media query desktop*/
@media (min-width:1280px){
    .sectioncomprar {
        padding-bottom: 50px;
        padding-left:168px ;
        padding-right: 170px;
        
    }
}