<section class="seccionempezar">
    <p>¡Prepáralos con tus marcas favoritas!</p>
    <h3>VUELTA AL COLE</h3>
    <div class="containercontenidoempezar">
        <div class="containerimgtxtempezar">
            <div class="containerimgempezar">
                <img class="imgempezar" src="./images/kid1.png" alt="">
            </div>
            <p>Mochilas escolares</p>
        </div>
        <div class="containerimgtxtempezar">
            <div class="containerimgempezar">
                <img class="imgempezar" src="./images/kid2.png" alt="">
            </div>
            <p>Mochilas escolares</p>
        </div>
        <div class="containerimgtxtempezar">
            <div class="containerimgempezar">
                <img class="imgempezar" src="./images/kid3.png" alt="">
            </div>
            <p>Mochilas escolares</p>
        </div>
    </div>
    <div class="boton-empezar">
        <a href="" class="boton-empezar-enlace">Empezar ahora</a>
    </div>
</section>