<footer id="footer" class="footer">
        <a  class="container-icon-up" href="#hero">
            <i class="fa-solid fa-circle-arrow-up icon-up"></i>
        </a>
    </i>
    <section class="section1">
        <div class="footer-div3">
            <p>&copy; 2023</p>
            <p>we <i class="fa-solid fa-heart"></i> run</p>
        </div>
        <div class="footer-div1">
            <a href="https://adalab.es/">TWITTER</a>
            <a href="https://adalab.es/">INSTAGRAM</a>
            <a href="https://adalab.es/">YOUTUBE</a>
        </div>
        <divc class="footer-div2">
            <a href="https://adalab.es/">ZAPATILLAS</a>
            <a href="https://adalab.es/">ROPA</a>
            <a href="https://adalab.es/">NIÑO/A</a>
            <a href="https://adalab.es/">DESTACADOS</a>
            <a href="https://adalab.es/">TIPS</a>
        </div>
    </section>
    
</footer>


